.animate{
    animation: 1s linear 1s;
}
.animate1{
    animation: 5s linear;
}
.infinite{
    animation-iteration-count: infinite;
}
.delay1{
    animation-delay: 1s;
}
.delay2{
    animation-delay: 2s;
}
.delay3{
    animation-delay: 3s;
}
.delay4{
    animation-delay: 4s;
}
.delay5{
    animation-delay: 5s;
}
.delay6{
    animation-delay: 6s;
}
.delay7{
    animation-delay: 7s;
}
.delay8{
    animation-delay: 8s;
}
.delay9{
    animation-delay: 9s;
}
.delay10{
    animation-delay: 10s;
}
.yun1{
    animation-name: yun1;
}
.yun2{
    animation-name: yun2;
}
.img1{
    animation-name: img1;
    opacity: 0;
}
.img2{
    animation-name: img2;
    opacity: 0;
}
.xiana{
    animation-name: xiana;
}
.p1{
    animation-name: p1;
}
.wenzi2{
    animation-name:wenzi2;
}
.wenzi3{
    animation-name:wenzi3;
}

.qy{animation-name: qy}
.xingxing{animation-name: xingxing}
.zizi{animation-name: zizi}
.wenzi{animation-name: wenzi}
.xisu{animation-name: xisu}
.wenzi22{animation-name: wenzi22}
.zuo{animation-name: zuo}
.you{animation-name: you}
.suo{animation-name: suo}
.shang{animation-name: shang}
.xia{animation-name: xia}
.meishi{animation-name: meishi}

@keyframes img1 {
    0%{transform: translateX(-10.5rem) scale(0) skew(45deg);opacity: 0}
    100%{transform: translateY(-4.9rem) scale(1) skew(0deg);opacity: 1}
}
@keyframes img2 {
    0%{transform: translateX(10.5rem) scale(2)  skew(-45deg);opacity: 0}
    100%{transform: translateX(0rem) scale(1)  skew(0deg);opacity: 1}
}
@keyframes yun1 {
    0%{transform: translateX(-8rem) ;opacity: 1}
    50%{transform: translateX(0);opacity: 0.8}
    100%{transform: translateX(8rem);opacity: 0.5}
}
@keyframes yun2 {
    0%{transform: translateX(-8rem) ;opacity: 1}
    50%{transform: translateX(0);opacity: 0.8}
    100%{transform: translateX(8rem);opacity: 0.5}
}
@keyframes xiana {
    0%{height: 0rem;opacity: 0}
    100%{height: 1.54rem;opacity: 1}
}
@keyframes p1{
    0%{opacity: 0}
    100%{opacity: 1}
}
@keyframes wenzi2 {
    0%{opacity: 0;height: 0;}
    100%{opacity: 1;height: 100%;}
}
@keyframes wenzi3 {
    0%{transform: translateY(-8rem) skew(45deg) scale(2);opacity: 0}
    50%{transform: translateY(1rem) skew(45deg) scale(2);opacity: 0}
    100%{transform: translate(0rem) skew(0deg) scale(1);opacity: 1}
}
@keyframes xisu {
    0%{transform: scale(0);opacity: 0}
    50%{transform: scale(2);opacity: 1}
    100%{transform: scale(1);opacity: 1}
}
@keyframes wenzi22 {
    0%{transform: translateX(-10rem);opacity: 0}
    50%{transform: translateX(2rem);opacity: 1}
    100%{transform: translateX(0);opacity: 1}
}
@keyframes zuo {
    0%{transform: translateX(-5rem); opacity: 0}
    100%{transform: translateX(0rem);opacity: 1}
}
@keyframes you {
    0%{transform: translateX(5rem); opacity: 0}
    100%{transform: translateX(0rem);opacity: 1}
}
@keyframes suo {
    0%{transform: scale(0);opacity: 0}
    50%{transform: scale(2);opacity: 1}
    100%{transform: scale(1);opacity: 1}
}
@keyframes shang {
    0%{transform: translateY(-5rem);opacity: 0}
    100%{transform: translateY(0rem);opacity: 1}
}
@keyframes xia {
    0%{transform: translateY(5rem);opacity: 0}
    100%{transform: translateY(0rem);opacity: 1}
}
@keyframes meishi {
    0%{transform:rotateY(0deg) }
    100%{transform:rotateY(360deg)}
}
@keyframes xingxing {
    0%{transform:scale(0) rotate(0deg);opacity: 0}
    100%{transform:scale(1) rotate(360deg);opacity: 1}
}
@keyframes zizi {
    0%{transform: translateY(-2rem);opacity: 0}
    50%{transform: translateY(2rem);opacity: 1}
    100%{transform: translateY(0rem);opacity: 1}
}
@keyframes qy {
    0%{transform: rotate(0deg);opacity: 0}
    100%{transform: rotate(360deg);opacity: 1}
}
